.skincare-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;

  @media screen and (max-width: 1111px) {
    flex-direction: column;
    align-items: stretch;
    gap: 4.4rem;
  }

  .t-wrap {
    flex: 0 0 34rem;

    @media screen and (max-width: 1111px) {
      flex: none;
      text-align: center;
    }

    .tit {
      color: var(--secondary);

      @media screen and (max-width: 1111px) {
        margin-bottom: 2rem;
      }
    }

    .txt {
      margin-top: 2rem;
      line-height: 1.7;
      word-break: keep-all;

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1.4rem;
      }
    }

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      background: var(--p-gradient);

      &:hover {
        color: var(--secondary);
      }
    }
  }

  .slider-wrap {
    flex: 1;
    width: 100%;
    max-width: 78rem;
    overflow: hidden;

    @media screen and (max-width: 1440px) {
      max-width: 70rem;
    }

    @media screen and (max-width: 1111px) {
      max-width: 100%;
      width: 100%;
    }

    .in {
      width: 100%;
    }

    .skincare-slider {
      width: 100%;
      overflow: visible;
    }

    .swiper-slide {
      aspect-ratio: 4 / 5;
      border-radius: 1.6rem;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (max-width: 1111px) {
        aspect-ratio: 4 / 4.8;
      }

      @media screen and (max-width: 768px) {
        aspect-ratio: 4 / 4.6;
      }

      @media screen and (max-width: 480px) {
        aspect-ratio: 4 / 4.8;
      }
    }

    .swiper-slide a {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 0;
    }
  }
}